<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
  <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Go Back to Elina's Bike Shop".html_safe, root_path, class: 'btn btn-default', style: 'margin-left:20px' %>
