<div class="container">
  <h2>Order Details</h2>
  <p>Thank you for your order! Check out the details below.</p>
  <%= render partial: "order_details" %>
  <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Check out all your orders'.html_safe, orders_path, class: 'btn btn-default' %>
</div>
