.authentication-card {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #e7e7e7;
  background-color: #F8F8F8;
  width:80%;
}

.authentication-card h2 {
  padding-bottom: 30px;
}
