* { box-sizing: border-box; }

body {
  margin: 0;
}

html, body {
  height: 100%; /* for the sticky footer */
}


h1, h2, .navbar-left {
  font-family: "Comic Sans MS", "Georgia";
  text-align: center;
}

/* apply text-decoration:none to all links of the app (it does not work when applied on other styles) */
a:any-link,
a:-webkit-any-link {
    text-decoration: none;
}

.anchor {
  padding-top: 50px;
  min-height: 100%; /* for the sticky footer */
  margin-bottom: -3em; /* for the sticky footer */
}

.anchor:after {
  content: ""; /* for the sticky footer */
  display: block; /* for the sticky footer */
}

footer, .anchor:after {
  height: 3em;
}

footer {
  background-color: #F8F8F8;
  color: #777;
  border-top-style: solid;
  border-color: #e7e7e7;
  border-top-width: 1px;
  margin-top: 20px;
}
