// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
.btn-new-product {
  margin: 0px 20px 20px 20px;
}

.product-card {
  text-align: center;
  margin-bottom: 20px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #888888;
}

.product-img-index {
  width: 100%;
  height: auto;
}

.product-info-index {
  color: black;
}

.product-card i {
  font-size: 18px;
  color: #808080;
  padding: 5px;
  margin-bottom: 5px;
}

.product-card i:hover {
  background-color: #e5e5e5;
}


// Show
.btns-show {
  margin-top: 20px;
}

.product-show {
  margin-top: 10px;
}

.average-rating {
  text-align: center;
}

.border-comments-title {
  margin-top: 0;
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.new-review {
  margin-bottom: 0;
}

.reviews {
  margin-top: 30px;
}

.review-dt-uploaded {
  // padding-left: 5px;
  color: grey;
}

.pagination {
  width: 100%;
  padding: 15px 0;
  background-color: #F8F8F8;
  text-align: center;
  font-family: normal 76% "Lucida Grande", Verdana, Helvetica, sans-serif;
  border: solid;
  border-color: #e7e7e7;
  border-width: 0.5px;
  font-size: 14px;
}

.pagination a {
  color: black;
  padding: 0px 4px !important;
  text-decoration: none;
}

.pagination .disabled {
  color: grey;
}

.pagination em {
  color: black;
  font-style: normal;
  font-weight: 450;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 15%;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
