// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel {
  margin-left: -15px; /* for full width */
  margin-right: -15px;
}

.carousel-caption {
  font-size: 2.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact {
  background-image: image-url("contact-bkg.jpg");
  /* No repeat of background img */
  /* background-repeat: no-repeat; */
  /*Add a background image*/
  background-attachment: fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
  /*Have the background cover the entire div section*/
  color: white;
  /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  padding: 5%;
  padding-top: 0;
  overflow: auto;
 }
