<% if signed_in? %>
  <div class="row">
    <%= form_with(model: [@product, @product.comments.build], local: true) do |f| %>
      <div class="col-xs-12">
        <h4 class="new-review">Add a review</h4>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :body, "Comments", class: "sr-only" %><br>
          <%= f.text_area :body, placeholder: "Your comments on the product...", class: 'form-control', size: '5x10'  %>
        </div>

        <div class="form-group">
          <div class="rating"></div>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-default" %>
        </div>
        <hr>
      </div>
    <% end %>
  </div><!-- end row -->

<% end %>
