<h1>Editing Product</h1>

<div style="margin: 0px 0px 20px 20px">
  <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to Products'.html_safe, products_path, class: 'btn btn-default' %>
  <%= link_to '<i class="fa fa-bicycle"></i> Show Product'.html_safe, @product, class: 'btn btn-default' %>
</div>

<%= render 'form', product: @product %>
