<h1>New Product</h1>

<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go Back to Products'.html_safe, products_path, class: 'btn btn-default', style: 'margin-left: 20px' %>

<%= render 'form', product: @product %>
